<section class="right">

    <section ng-repeat="food in $ctrl.plate track by $index" class="plate-container">
        <p class="plate_item">{{ food }}</p>

    </section>
    <section class="plate"></section>
</section>



<section class="buttons">
    <button>view 1</button>
    <button>view 2</button>
    <button>view 2</button>
</section>

<section class="selection-plate-container">
    <section class="left" ng-repeat="food in $ctrl.listOfFood track by $index">
        <p> {{ food.name }} </p>
        <button ng-click="$ctrl.add(food)">Add {{food.name}} to plate</button>
    </section>

    <section class="right">
        <section ng-repeat="food in $ctrl.plate track by $index" class="plate-container">
            <p class="plate_item">{{ food.fields.item_name }}</p>
        </section>

        <section class="plate">
        </section>
    </section>
</section>