.main-container {
    display: flex;
    flex-direction: row;

}

.left {
    flex: 50%;
    /* display: inline-block; */
}

.right {
    /* display: inline-block; */
    position: relative;
    flex: 50%;
    height: 100vh;
}

.plate-container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    /* bottom: -500px; */
    height: 100%;
    align-items: center;
}

.no-animation {
    transition: none !important;
}

#item0 {
    width: 4em;
    height: 4em;
    background-color: magenta;
    display: block;
    position: absolute;
    bottom: 70px;
    transition: transform 2s ease-in-out;
    transform: translateY(-500px);
}

#item1 {
    width: 4em;
    height: 4em;
    background-color: magenta;
    display: block;
    position: absolute;
    bottom: 140px;
    transition: transform 2s ease-in-out;
    transform: translateY(-400px);
}


#item2 {
    width: 4em;
    height: 4em;
    background-color: magenta;
    display: block;
    position: absolute;
    bottom: 70px;
    transition: transform 2s ease-in-out;
    transform: translateY(-300px);
}

#item3 {
    width: 4em;
    height: 4em;
    background-color: magenta;
    display: block;
    position: absolute;
    bottom: 70px;
    transition: transform 2s ease-in-out;
    transform: translateY(-200px);
}

.plate {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 8em;
    height: 2em;
    background-color: black;
}


/* activity styles */
.walking {
    height: 160px;
    width: 240px;

    background-image: url('../images/sprite_walk.png');
    background-size: 1200%, 100%;
    background-position:  left;
    background-repeat: no-repeat;

    animation-name: activity;
    animation-duration: 5s;
    /* animation-timing-function: steps(2); */
    animation-iteration-count: infinite;
}

.bear-crawl {
    height: 200px;
    width: 200px;
    background-color: tomato;
}

.hopping {
    height: 200px;
    width: 200px;
    background-color: mediumorchid;
}

@keyframes activity {
    0% {background-position: 320px;}
    50% {background-position: 640px;}
}

@keyframes movement {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}