body {
    background-color: #07020D;
}

p, button {
    color: #F1E9DB;
}

.food-photos {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: auto;
    margin-top: 20px;
}

.go-btn{
    height: 30px;
    width: 80px;
    background-color: #69D9DB;
    border-radius: 5px;
    border: 1px solid #69D9DB;
    color: #07020D;
    font-size: 15px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px #F1E9DB;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 42px;
    color: #F1E9DB;
    background-color: #DD1A08;
    text-shadow: 2px 2px #07020D;
}

body {
    background-color: black;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: row;

}

.left {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;

    /* display: inline-block; */
}

.right {
    /* display: inline-block; */
    position: relative;
    flex: 50%;
    height: 100vh;
}

.plate-container {
    /* display: flex;
    flex-direction: column-reverse; */
    position: relative;
    /* bottom: -500px; */
    height: 100%;
    /* align-items: center; */
}

.food-item {
    max-width: 150px;
    max-height: 100px;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
}

.plate {
    position: absolute;
    bottom: 140px;
    right: 20px;
    width: 8em;
    height: 2em;
    background-color: #F1E9DB;
}


/* activity styles */
.walking {
    font-family: 'Roboto', sans-serif;
    height: 180px;
    width: 100px;
    background: url('../images/sprite_walk.png') left center;
    background-size: 1200% 100%;
    animation-name: activity;
    animation-duration: 2s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    margin-top: 20px;

    text-align: center;
}

.bear-crawl {
    font-family: 'Roboto', sans-serif;
    height: 180px;
    width: 100px;
    text-align: center;
    background: url('../images/sprite_skip.png') left center;
    background-size: 1000% 100%;

    animation-name: activity;
    animation-duration: 1.8s;
    animation-timing-function: steps(2);
    animation-delay: 100ms;

    animation-iteration-count: infinite;
}

.skipping {
    font-family: 'Roboto', sans-serif;
    height: 180px;
    width: 100px;  /* each frame is 320 wide, 10 frames total, we are scaling it to 50% */
    text-align: center;
    background: url('../images/sprite_skip.png') left center;
    background-size: 1000% 100%;

    animation-name: activity;
    animation-duration: 1.5s;
    animation-timing-function: steps(2);
    animation-delay: 50ms;

    animation-iteration-count: infinite;
}

@keyframes activity {
    100% {background-position: -1280px}

}

.exercise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.distance {
    text-align: center;
    height: 70%;
    width: 50%;
    background-color:darkgrey;

    border: 3px solid blue;


    
}

.movement-container {

    display: flex;
    justify-content: center;

    /* position: absolute;
    top: 10rem;
    right: 50vw;
    transform: translate(50%,50%); */

    border: 3px solid gold;


    width: 50%;

}

.skyline-container {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(270deg, #246655, #5a2466); */
    background: linear-gradient(270deg,#39c6a2, #ff3a00);

    background-size: 400% 400%;
    animation: skyline 4s ease infinite;
    border-radius: 50%;
    width: 100%;
}
@keyframes skyline { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.sprite {

    height: 240px;
    width: 160px;  /* each frame is 320 wide, 10 frames total, we are scaling it to 50% */

    background: url('../images/sprite_skip.png') left center;
    background-size: 1000% 100%;

    animation-name: movement;
    animation-duration: 4s;
    animation-timing-function: steps(10);
    animation-delay: 0;

    animation-iteration-count: infinite;


    border: 2px solid green;

}

@keyframes movement {
    100% {background-position: -3200px}

}